{% extends "RipeSportsApp/base.html" %}
{% block content %}
{%verbatim%}
<div ng-controller="indexCtrl">
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">

        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand" href="/">RipeSports</a>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <button class="navbar-toggler-right navbar-toggler" type="button" data-toggle="collapse" data-target="#headerCollapseableDiv" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id='headerCollapseableDiv'>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a  class="nav-link" role="button" ng-click="loadMLBGames(0,0)">Baseball</a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" role="button" ng-click="loadNBAGames(0,0)">Basketball</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link" role="button" ng-click="loadNFLGames(0,0)">Football</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

    </nav>
    <!-- 1. The <iframe> (and video player) will replace this <div> tag. -->
    <div id="player" style="display:none"></div>
    <div>{{player_show}}</div>
    <!--TODO remove:
    <input type="text" ng-model="gameEntry" >
    <button ng-click="search(gameEntry)" >Get Highlight</button>
    Your Highlight Link: <a target="_blank" href="{{ result }}" >{{result}}</a>
    <br>-->
    <label for="date" ng-show="sport!='nfl'">Select by Date</label>
    <input name="date" type="date" ng-model="date" ng-show="sport!='nfl'">
    <button ng-click="loadNBAGames(date)" ng-show="sport!='nfl'">Go</button>

    <label for="week" ng-show="sport=='nfl'">Week</label>
    <select name="week" ng-model="week" ng-options="w for w in weeks" ng-show="sport=='nfl'">
        <option></option>
    </select>
    <label for="year" ng-show="sport=='nfl'">Year</label>
    <select name="year" ng-model="year" ng-options="y for y in years" ng-show="sport=='nfl'">
        <option></option>
    </select>
    <button ng-click="loadNFLGames(week,year)" ng-show="sport=='nfl'">Go</button>
    <table class="table">
        <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Date</th>
        </tr>
        <tr ng-repeat="game in games" ng-click="playHighlight(game)">
            <td>{{ game.homeTeam }}</td>
            <td>{{ game.awayTeam }}</td>
            <td>{{ game.date }}</td>
        </tr>
    </table>
</div>
{%endverbatim%}
{%endblock%}
